 <div class="jumbotron text-center" ng-controller="MainController">
	<h1>Home Page 4 Life</h1>
     <button ng-click="myfunc()">Function</button>
     {{test}}
	<div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <td>name</td>
                    <td>loginid</td>
                </thead>
                <tbody>
                {{data}}
                    <tr ng-repeat="item in data">
                        <td>{{item.name}}</td>
                        <td>{{item.loginid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>