<div   class="jumbotron" class="md-padding" ng-cloak layout="column" style="background-color: #FFF">


    <section layout="row" layout-sm="column" layout-align="left center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="enableUserList(false)">Add Student</md-button>
    </section>


    <p align="center" style="color: #607D8B">Student</p>

<span style="color: #607D8B" ><b>Select School :-  </b> <md-input-container>
    <md-input-container>
        <label>School</label>
        <md-select ng-model="selected_school_obj">
            <md-option ng-repeat="school in allSchools" ng-value="selected_school_obj = school" >
                {{school.school_name}}
            </md-option>
        </md-select>
    </md-input-container>
</span>

    <md-progress-linear ng-show = "progress_bar_school" md-mode="indeterminate"></md-progress-linear>



    <md-card ng-show = "!isSchoolAdded" style="margin:10px;">

        <div ng-show="isenableUserList">


    <span style="color: #607D8B" ng-show="isenableUserList">
  <md-input-container>
      <md-input-container>
          <label>Select Class</label>
          <md-select ng-model="selected_class" ng-change="getAllStudentOfSchoolAndClass()">
              <md-option ng-repeat="classes in userinfo" ng-value="selected_class = classes" >
                  {{classes}}
              </md-option>
          </md-select>
      </md-input-container>



</span>
            <table cellpadding="10" padding='10'>
                <tr style="color: #607D8B;">
                    <th >User id</th>
                    <th>Roll No</th>
                    <th >First Name</th>
                    <th >Last Name</th>

                </tr>
                <tr ng-repeat="user in allStudentsOfSchoolAndClass" >
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.rollno }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>

                </tr>
            </table>


        </div>

        <div ng-show="!isenableUserList">

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>User Type</label>
                    <md-select ng-model="user_detail.user_type">
                        <md-option ng-repeat="user in user_type" ng-value="user" >
                            {{user}}
                        </md-option>
                    </md-select>
            </div>


            <div layout-gt-sm="row" >

                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input ng-model="user_detail.first_name">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input ng-model="user_detail.last_name">
                </md-input-container>
                </md-input-container>




            </div>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary"   ng-click='addUser()'>Submit</md-button>
            </section>
            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="enableUserList(true)">Back</md-button>
            </section>
            <div>

    </md-card>

</div>