
<div style="background-color: #FFF;"  class="jumbotron" class="md-padding" ng-cloak layout="column">
<div><span style="margin: 10px;color: #607D8B" ><b>Start Date :- </b> <md-datepicker  ng-model="sdatemodel" md-placeholder="Enter date" md-open-on-focus ></md-datepicker>  
</span>
<span style="margin: 10px;color: #607D8B"><b>End Date :- </b> <md-datepicker  ng-model="edatemodel" md-placeholder="Enter date" md-open-on-focus ></md-datepicker>
</span>                                                                                                                                        
<md-input-container>
          <label>Class</label>
          <md-select ng-model="teacherclasses">
            <md-option ng-repeat="class in userinfo" ng-value="teacherclasses = class" >
              {{class}}
            </md-option>
          </md-select>
</md-input-container>

<md-button class="md-raised md-primary" ng-click = "loadClassReport()">Load Report</md-button>

<md-progress-linear ng-hide = "classAttLoaded" md-mode="indeterminate"></md-progress-linear>
<md-card class="scroll" >
<table cellpadding="10" padding='10'>
  <tr style="color: #607D8B;">
    <th >Roll no</th>
    <th>Name</th>
    <th ng-repeat="x in allBtwDates" >
    {{x}}
    </th>
  </tr>
  <tr ng-repeat="x1 in allStudents">
    
    <td>{{ x1.rollno }}</td>
    
    <td>{{ x1.first_name }}</td>
    
    <td ng-repeat="x2 in x1.studnetDetailAttArr"> {{x2.att}} </td>

  </tr>
</table>
  </md-card>
  
</div>
</div>